/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  
  
  /*nav styles */
  
  nav{
  
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 50px 150px;
  }
  
  .nav-title{
  
      font-weight: 800;
      font-size: 28px;
  
  }
  
  nav ul li{
      list-style: none;
      margin-right: 50;
  }
  
  nav ul{
      display:flex;
      align-items: center;
  }
  
  
  /* Do I need it check and resolve */
  nav li a {
      text-decoration: none;
  }
  
  /* shared style */
  .text-primary{
      color: #0D1321;
  }
  
  .btn-primary{
      background-color: white;
      font-weight: bolder;
      font-size: 20px;
      padding: 17px 24px;
      border-radius: 8px;
      border-width: 1px;
  }
  
  
  /* banner styles   */
  .banner{
      background-image: url('../images/Hero-bg.png');
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  
  }
  
  .banner-content{
      margin: 0 auto;
      width: 63.3%;
      height: 60%;
  }

  .banner-title{
    font-weight: 800;
    font-size: 48px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.banner-description {   
    font-size: 16px;
    margin: 24px 73px 32px;
}

  
.btn-banner{
      background-color: black;
      color: white;
      font-weight: bolder;
      font-size: 20px;
      padding: 17px 24px;
      border-radius: 8px;
      border-width: 1px;
      margin: 32px 0px 45px;
  }



/* main styles   */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* web development section styles   */

.why-web-dev {   /* my inspiration similar styles   */
    padding: 80px 97px;
    text-align: center;
    background: #FAFAFB;
}

.why-web-dev h2 {  /* my inspiration similar styles   */
    font-weight: 800;
    font-size: 32px;
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 24px;
}

.section-description{ /* my inspiration similar styles   */
    font-size: 16px;
    margin: 24px 48px 48px 48px;
}


.reasons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: 0px;
}

.reason {
    display: flex;
    margin: 48px;
    opacity: 2;
    
}

.reason-text {
    padding: 40px;
    flex: 1;
    text-align: left;

}

.reason-text h1 {
    font-weight: bold;
    font-size: 24px;  
}

.reason-text p {
    font-size: 16px;
    color: #0D1321;
    margin: 12px 9px 32px 0px;
}

.reason-text button {
    width: 171px;
    height: 47px;
    background-color: white;
    font-weight: bolder;
    font-size: 20px;
    padding: 12px 20px;
    border-width: 1px;
}

.reason-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
       
}

.reason-two-image  {
    flex: 1;
    display: flex;
    justify-content: flex-start;  
    align-items: center; 
}

/* Inspiration section   */

.inspiration-section {   /* why web dev similar styles   */
    padding: 80px 97px;
    text-align: center;
    background: #FAFAFB;
}

.inspiration-title {  /*why web dev similar styles   */
    font-weight: 800;
    font-size: 32px;
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 24px;
}

.inspiration-description{ /* why web dev similar styles   */
    font-size: 16px;
    margin: 24px 48px 48px 48px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 10px;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Target section styles  */

.targets {
    padding: 80px 97px;
    text-align: center;
    background: #FAFAFB;
}

.targets h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.target {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    box-sizing: border-box;
    text-align: left;
    border-radius: 8px;
    border-width: 1px;
    
}

.target img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

.target h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.target p {
    font-size: 16px;
}

.learn-more {
    color: black;
}

.html-card {
    padding: 40px;
    background-color: #ffecec;
    border-radius: 16px;
    border-width: 1px;
    
}

.css-card {
    padding: 40px;
    background-color: #e6f0ff;
    border-radius: 16px;
    border-width: 1px;
    
}

.js-card {
    padding: 40px;
    background-color: #fff9e6;
    border-radius: 16px;
    border-width: 1px;
}


